/*.home-ocean {*/
/*  background-image: url('/path-to-ocean-image.jpg'); !* Immagine di sfondo del mare *!*/
/*  background-size: cover;*/
/*  color: #fff;*/
/*}*/

/*.header-content {*/
/*  padding: 50px;*/
/*  background: rgba(0, 0, 0, 0.5); !* Sfondo semi-trasparente per il testo *!*/
/*  border-radius: 10px;*/
/*  !* Altri stili per il contenuto dell'intestazione *!*/
/*}*/

@keyframes bubbleRise {
  0% { transform: translateY(100%); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translateY(0); opacity: 0; }
}

.bubble {
  animation: bubbleRise 5s ease-in-out infinite;
  /* Altre proprietà della bolla (dimensione, posizione, ecc.) */
}

@keyframes fishSwim {
  0%, 100% { transform: translateX(0) scaleX(-1); }
  50% { transform: translateX(300px) scaleX(1); }
}

@keyframes sway {
  0%, 100% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
}

.algae {
  animation: sway 8s ease-in-out infinite;
  /* Altre proprietà dell'alga (dimensione, posizione, ecc.) */
}

@keyframes wave {
  0%, 100% { transform: translateY(-5px); }
  50% { transform: translateY(5px); }
}

.water {
  animation: wave 6s ease-in-out infinite;
  /* Altre proprietà dell'acqua (dimensione, posizione, ecc.) */
}